@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: 'Roboto', sans-serif; /* Body text uses 'Roboto' */
  color: var(--foreground);
  background-color: var(--background);
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; /* Headings use 'Montserrat' */
}

p{
  color:#ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Custom gradient background */
.bg-custom-gradient {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
